:root {
    --primary-color: rgb(255, 87, 199);
    --secondary-color: rgb(233, 5, 172);
    --terciary-color: rgb(111, 0, 124);
    --quartenary-color: rgb(3, 255, 213);
    --primary-font: "Roboto Slab", serif;
    --secondary-font: "Poppins";
    --terciary-font: "Pacifico", cursive;
    --quartenary-font: 'Ubuntu', sans-serif;
    --logo-animation: logo-animation;
    --cart-animation1: cart-animation1;
    --cart-animation2: cart-animation2;
    --fav-animation: fav-animation;
    --arrow-animation: arrow-animation;
}

.modal-obs {
    visibility: hidden;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;
    background-color: rgba(197, 255, 255, 0.31);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    transition: 1s;
}

.modal-obs[active] {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    scale: 1;
    background-color: white;
}

.fav-btn-prod {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    position: fixed;
    top: 30px;
    left: 30px;
}
.fav-btn-prod svg{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    padding: 5px;
}
.fav-btn-prod:hover svg{
    background-color: rgba(255, 255, 255, 0.307);
}
.fav-btn-prod svg path{
    fill: white;
}

.prod-body img {
    border-radius: 15px;
    width: 400px;
}

.prod-data {
    padding: 0px 30px 40px 30px;
}

.prod-data h3 {
    color: var(--terciary-color);
    font-size: xx-large;
}

.price{
    color: rgb(0, 143, 0);
    font-family: var(--secondary-font);
    font-size: xx-large;
    font-weight: bold;
    text-align: justify;
}

.close-modal {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: transparent;
}
.close-modal svg{
    pointer-events: none;
}
.close-modal svg path{
    fill: red;
}
.close-modal:hover{
    scale: 1.02;
    background-color: rgba(255, 0, 0, 0.179);
}

.add-cart{
    width: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: large;
    padding: 10px;
    border-radius: 25px;
    border: none;
    transition: .3s;
}
.add-cart:hover{
    color: white;
    background-color: rgb(0, 208, 0);
    
}
.prod-body hr{
    margin-block: 20px;
}

@media (max-width: 800px) {
    .prod-body {
        height: 250px;
        width: 90%;
    }
    .prod-body img{
        background-color: white;
        width: 190px;
    }
    .prod-data h3{
        font-size: x-large;
    }
    .price{
        font-size: x-large;
        text-align: end;
    }
}

@media (max-width: 420px) {
    .modal-obs[active] {
        visibility: hidden;
    }
    
}